body, table 
{
    font-family:Arial,Helvetica,Sans-Serif;
    font-size:.9em;
}
a 
{
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
    background-color:#EEEEEE;
}

.menuPanel
{
   border-style: solid;
   border-width: 1px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   width: 400px;
   background-color:orange;
}

.ValidationError
{
    background-color:deeppink;
    font-style:italic;
    font-weight:lighter;
    display:inline-block;
}

.reportHeader
{  
    background-color:#507CD1;
    font-weight:bold;
    color:white;
}
.reportRow
{
    background-color:#eff3fb;
}
.reportAltRow 
{
    background-color:#ffffff;
}